Repository travisghansen/hass-opnsense, pull requests merged in 2024-10, with the labels that each got.

#225 Improve config_flow error handling
  custom_components/opnsense/config_flow.py
  custom_components/opnsense/pyopnsense/__init__.py
Labels: enhancement

#229 Add issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: ignore-for-release

#227 Change unique device ID to lowest MAC address
  custom_components/opnsense/__init__.py
  custom_components/opnsense/config_flow.py
  custom_components/opnsense/const.py
  custom_components/opnsense/coordinator.py
  custom_components/opnsense/device_tracker.py
  custom_components/opnsense/pyopnsense/__init__.py
  custom_components/opnsense/sensor.py
  custom_components/opnsense/switch.py
  custom_components/opnsense/translations/en.json
  function_method.md
Labels: enhancement

#230 Fix update firmware
  custom_components/opnsense/update.py
Labels: bugfix

#232 Move get_carp_status to REST API
  custom_components/opnsense/pyopnsense/__init__.py
  function_method.md
Labels: enhancement

#235 Add Min and Recommended Firmware versions to Release notes
  .github/workflows/ha_and_hacs_validate.yml
  .github/workflows/version_update_and_zip_on_release.yml
Labels: github_actions, ignore-for-release

#234 Refine Device ID Discrepancy Logging
  custom_components/opnsense/coordinator.py
  custom_components/opnsense/pyopnsense/__init__.py
Labels: bugfix

#236 DHCP Leases sensors
  custom_components/opnsense/binary_sensor.py
  custom_components/opnsense/coordinator.py
  custom_components/opnsense/pyopnsense/__init__.py
  custom_components/opnsense/sensor.py
Labels: feature

#241 Restart unbound on blocklist toggle
  custom_components/opnsense/pyopnsense/__init__.py
Labels: bugfix

#238 DHCP Lease Sensors fixes
  custom_components/opnsense/pyopnsense/__init__.py
  custom_components/opnsense/sensor.py
Labels: bugfix

#245 More graceful error handling
  custom_components/opnsense/binary_sensor.py
  custom_components/opnsense/device_tracker.py
  custom_components/opnsense/pyopnsense/__init__.py
  custom_components/opnsense/sensor.py
  custom_components/opnsense/switch.py
  custom_components/opnsense/update.py
Labels: bugfix

#257 Improve some more Error Handling
  custom_components/opnsense/pyopnsense/__init__.py
  custom_components/opnsense/sensor.py
  custom_components/opnsense/switch.py
Labels: enhancement

#255 Fix TypeError in device_tracker
  custom_components/opnsense/device_tracker.py
Labels: bugfix

#256 Remove concurrency from coordinator
  custom_components/opnsense/coordinator.py
  custom_components/opnsense/pyopnsense/__init__.py
Labels: enhancement

#260 Handle migration errors
  custom_components/opnsense/__init__.py
Labels: bugfix

#262 Migrate and rename filesystem sensors
  custom_components/opnsense/__init__.py
  custom_components/opnsense/pyopnsense/__init__.py
  custom_components/opnsense/sensor.py
Labels: enhancement, bugfix

#266 Fix device_tracker Presence
  custom_components/opnsense/device_tracker.py
Labels: bugfix

#265 Fixed OpenVPN related sensors (#264)
  custom_components/opnsense/pyopnsense/__init__.py
Labels: bugfix

#269 Fix making entities unavailable
  custom_components/opnsense/binary_sensor.py
  custom_components/opnsense/device_tracker.py
  custom_components/opnsense/sensor.py
  custom_components/opnsense/switch.py
  custom_components/opnsense/update.py
Labels: bugfix

#270 Switch icon enhancements
  custom_components/opnsense/sensor.py
  custom_components/opnsense/switch.py
Labels: enhancement

#268 Add all active Kea interfaces to DHCP Leases
  custom_components/opnsense/pyopnsense/__init__.py
Labels: enhancement

#272 Sensor Device Class, Unit, and Icon Updates
  custom_components/opnsense/const.py
  custom_components/opnsense/sensor.py
Labels: enhancement

#273 Additional Sensor Default Tweaks
  custom_components/opnsense/const.py
  custom_components/opnsense/sensor.py
Labels: enhancement

#271 Add Wireguard. OpenVPN Sensor Enhancements. VPN Switches.
  custom_components/opnsense/coordinator.py
  custom_components/opnsense/pyopnsense/__init__.py
  custom_components/opnsense/sensor.py
  custom_components/opnsense/switch.py
Labels: enhancement, feature

#275 Move Carp Interfaces to REST API
  custom_components/opnsense/pyopnsense/__init__.py
  custom_components/opnsense/sensor.py
  function_method.md
Labels: enhancement

#276 Create Reload Interface Action
  custom_components/opnsense/__init__.py
  custom_components/opnsense/const.py
  custom_components/opnsense/pyopnsense/__init__.py
  custom_components/opnsense/services.py
  custom_components/opnsense/services.yaml
Labels: feature

#278 Remove OpenVPN connected_client_count Sensor
  custom_components/opnsense/__init__.py
Labels: enhancement

#277 Update Readme
  README.md
Labels: ignore-for-release

#282 File Cleanup
  .gitignore
  pyproject.toml
  requirements_dev.txt
Labels: ignore-for-release

#280 Add additional details to Interfaces
  custom_components/opnsense/pyopnsense/__init__.py
  custom_components/opnsense/sensor.py
Labels: enhancement

#288 Improve firmware check
  custom_components/opnsense/config_flow.py
  custom_components/opnsense/pyopnsense/__init__.py
Labels: enhancement, bugfix

#292 VPN connected instance indicators and fixing OpenVPN server logic
  custom_components/opnsense/coordinator.py
  custom_components/opnsense/pyopnsense/__init__.py
  custom_components/opnsense/sensor.py
  custom_components/opnsense/switch.py
Labels: bugfix, feature

#293 Fix OpenVPN Client Error in v0.3.8-beta.1
  custom_components/opnsense/pyopnsense/__init__.py
  custom_components/opnsense/switch.py
Labels: bugfix

#294 Create Certificate Sensor
  README.md
  custom_components/opnsense/const.py
  custom_components/opnsense/coordinator.py
  custom_components/opnsense/pyopnsense/__init__.py
  custom_components/opnsense/sensor.py
Labels: feature

#297 Further OpenVPN Server Refinements
  custom_components/opnsense/pyopnsense/__init__.py
  custom_components/opnsense/sensor.py
Labels: enhancement

#298 Change from tzinfo to utcoffset
  custom_components/opnsense/device_tracker.py
  custom_components/opnsense/pyopnsense/__init__.py
Labels: bugfix

#302 Generate Captive Portal Vouchers Action
  custom_components/opnsense/const.py
  custom_components/opnsense/pyopnsense/__init__.py
  custom_components/opnsense/services.py
  custom_components/opnsense/services.yaml
Labels: feature

#301 Fix more timezone issues
  custom_components/opnsense/pyopnsense/__init__.py
  custom_components/opnsense/pyopnsense/const.py
Labels: bugfix

#300 Further VPN Refinements
  custom_components/opnsense/pyopnsense/__init__.py
  custom_components/opnsense/sensor.py
  custom_components/opnsense/switch.py
Labels: enhancement, bugfix

#303 Update README.md
  README.md
Labels: ignore-for-release

#304 Kill States Action
  README.md
  custom_components/opnsense/const.py
  custom_components/opnsense/pyopnsense/__init__.py
  custom_components/opnsense/services.py
  custom_components/opnsense/services.yaml
Labels: feature

#306 Revert device class duration for Gateway sensors
  custom_components/opnsense/sensor.py
Labels: bugfix

#307 Fix intermittent get_notices issue
  custom_components/opnsense/binary_sensor.py
  custom_components/opnsense/pyopnsense/__init__.py
Labels: bugfix
